.services {
    display: flex;
    flex-direction: row;

    justify-content: center;
    .service {
        width: 8em;
        cursor: pointer;

        color: #000;
        text-decoration: none;

        .text {
            color: #000;
            text-decoration: none;
            font-size: 0.9em;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 3em;
            font-weight: 600;
        }

        .icon {
            text-align: center;
            margin: 0.6em;
            img {
                width: 4em;
                height: auto;
            }
        }
    }
}

@media all and (max-width: 660px) {
    .services {
        flex-wrap: wrap;
        .service {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }

    .subservice {
        width: 90% !important;
        margin: auto;
    }
}





.owl-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: center;

    .owl-prev,
    .owl-next {
        margin: 1em;
        background: #fff;
        border: 1px #444 solid;
        line-height: 1.5;
        border-radius: .3rem;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        padding: .375rem .75rem;
        font-size: 0.8em;
        line-height: 1.5;
        border-radius: .25rem;
        transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}

.owl-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;

    text-align: center;
    .owl-dot {
        cursor: pointer;

        width: 10px;
        height: 10px;
        margin: 5px 7px;
        background: #fff;
        border: 1px #aaa solid;
        display: block;
        -webkit-backface-visibility: visible;
        -webkit-transition: opacity .2s ease;
        transition: opacity .2s ease;
        border-radius: 30px;

        &.active {

            border: 1px #444 solid;
            background: #444;
        }
    }
}

.subservice {
    .subservice__head {
        margin-top: 3em;
        .text {
            font-size: 1.6em;
            font-weight: 600;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 3em;
        }

        .icon {
            text-align: center;
            margin: 0.6em;

            img {
                width: 4em;
                height: auto;
                margin: auto;
            }
        }
    }
    .subservice__content {
        margin: 1em 0;
    }
}


p {
    line-height: 1.7em;
}


.service__info--close {
    padding: 2em;
    text-align: center;
}
