* {
    font-size: 16px;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #222233;
}

hr {
    margin: 40px;
    text-align: center;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

hr:after {
    content: "* * *";
    color: #222233;
}


.wrapper {
    display: flex;
    justify-content: center;
}

.logo {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    .logo__claim {
        font-size: 1.2em;
        font-weight: 600;
        line-height: 1.9em;
    }
    .logo__dentist {
        font-size: 1em;
        line-height: 1.5em;
    }
}

.hello {
    width: 660px;
}

.information {
    .information__headline {
        font-size: 1.2em;
        font-weight: 600;
    }

    margin: 2em 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .information__box {
        margin: 0 3em;
        width: 16em;
        display: flex;
        flex-direction: column;
    }



    .information__line {
        font-size: 1em;
        line-height: 1.5em;
        display: flex;
        flex-direction: row;


        .block {
            margin: 0 0.5em;
            width: 4em;
            &.block--auto {
                width: auto ;
            }
            &:first-child {
              margin-left: 0.5em;
            }

            &.block--small {
                width: 2em ;
            }
        }
    }
}
