<div class="footer">
    <p>
        <a href="index.html">Home</a> -
        <a href="directions.html">Anfahrt</a> -
        <a href="team.html">Team</a> -
        <a href="https://www.facebook.com/ZahnaerzteHuels/">Facebook</a> -
        <a href="https://www.instagram.com/ZahnaerzteHuels/">Instagram</a>
    </p>
    <p><span class="copyright">Copyright &copy; 2017</span> - <a href="impressum.html">Impressum</a> - <a href="datenschutz.html">Datenschutz</a></p>
</div>
