<div class="news">Ab Mitte Januar 2018 sind wir f체r Sie da!</div>

<div class="logo">
    <span class="logo__claim"><a href="http://zahnarzt-huels.de" class="logo__link">Zahn채rzte H체lser Markt</a></span>
    <span class="logo__dentist">Dr. Felix Rehberg</span>
    <span class="logo__dentist">Dr. Charlotte Sch체rmann</span>
</div>
