<div class="logo">
    <span class="logo__claim"><a href="http://zahnarzt-huels.de" class="logo__link">Zahnärzte Hülser Markt</a></span>
    <span class="logo__dentist">Dr. Felix Rehberg</span>
    <span class="logo__dentist">Dr. Charlotte Rehberg</span>
</div>
