<div class="profiles">
    <div class="profile">
        <div class="section">
            <div class="line line--name">
                Dr. med. dent. Felix Rehberg
            </div>
            <div class="line">
                <div class="block block--large">2008</div>
                <div class="text">Gymnasium Marianum Meppen</div>
            </div>
            <div class="line">
                <div class="block block--large">2009 - 2014</div>
                <div class="text">Universität Köln</div>
            </div>
            <div class="line">
                <div class="block block--large">2016</div>
                <div class="text">Promotion Universität Köln</div>
            </div>
            <div class="line">
                <div class="block block--large">2015 - 2017</div>
                <div class="text">Zahnarztpraxis Dr. Muresan, Kerpen</div>
            </div>
        </div>
        <div class="section">
            <div class="line line--hl">Fortbildungen</div>
            <div class="line">Curriculum Kinderzahnheilkunde</div>
            <div class="line">Lingualtechnik in der Kieferorthopädie</div>
            <div class="line">Innovative Laserzahnheilkunde</div>
            <div class="line">Die Maschinelle Wurzelkanalaufbereitung</div>
            <div class="line">Direkte Stifte - adhäsiv und ästhetisch</div>
            <div class="line">Chirurgischer Wundnahtkurs</div>
            <div class="line">Notfallmanagement</div>
        </div>
    </div>
    <div class="profile">
        <div class="section">
            <div class="line line--name">
                Dr. med. dent. Charlotte Schürmann
            </div>
            <div class="line">
                <div class="block block--large">2008</div>
                <div class="text">Schillergymnasium Köln</div>
            </div>
            <div class="line">
                <div class="block block--large">2009 - 2014</div>
                <div class="text">Universität Münster</div>
            </div>
            <div class="line">
                <div class="block block--large">2015</div>
                <div class="text">Promotion</div>
            </div>
            <div class="line">
                <div class="block block--large">2015 - 2017</div>
                <div class="text">Zahnarztpraxis Dr. Hubert, Köln</div>
            </div>
            <div class="line">
                <div class="block block--large">Seit 2017</div>
                <div class="text">Angestellte Zahnärztin zur Weiterbildung halbtags in der Oralchirurgischen Abteilung der Universitätsklinik Köln</div>
            </div>
        </div>
        <div class="section">
            <div class="line line--hl">
                Fortbildungen
            </div>
            <div class="line">
                Curriculum Parodontologie
            </div>
            <div class="line">
                Curriculum Implantologie
            </div>
            <div class="line">
                Laseranwendung in der Parodontologie
            </div>
            <div class="line">
                Die Maschinelle Wurzelkanalaufbereitung
            </div>
            <div class="line">
                Notfallmanagement
            </div>
        </div>
    </div>
</div>
