<div class="services">
    <a class="service" href="angstpatienten.html">
        <div class="text">Angst-
            <br/>patienten</div>
        <div class="icon"><img src="images/angstpatienten.svg" alt="Angstpatienten" /></div>
    </a>
    <a class="service" href="zahnerhalt.html">
        <div class="text">Zahnerhalt</div>
        <div class="icon"><img src="images/zahnerhalt.svg" alt="Zahnerhalt" /></div>
    </a>
    <a class="service" href="kinderzahnheilkunde.html">
        <div class="text">Kinder</div>
        <div class="icon"><img src="images/kinderzahnheilkunde.svg" alt="Kinderzahnheilkunde" /></div>
    </a>
    <a class="service" href="kieferorthopaedie.html">
        <div class="text">Kiefer-
            <br/>orthopädie</div>
        <div class="icon"><img src="images/kieferorthopaedie.svg" alt="Kieferorthopaedie" /></div>
    </a>
    <a class="service" href="zahnersatz.html">
        <div class="text">Zahnersatz</div>
        <div class="icon"><img src="images/zahnersatz.svg" alt="Zahnersatz" /></div>
    </a>
    <a class="service" href="technik.html">
        <div class="text">Technik</div>
        <div class="icon"><img src="images/technik.svg" alt="Technik" /></div>
    </a>
</div>
