<div class="services">
    <a class="service" href="angstpatienten.html">
        <div class="text">Angst-
            <br/>patienten</div>
        <div class="icon"><img src="images/angstpatienten.svg" /></div>
    </a>
    <a class="service" href="zahnerhalt.html">
        <div class="text">Zahnerhalt</div>
        <div class="icon"><img src="images/zahnerhalt.svg" /></div>
    </a>
    <a class="service" href="kinderzahnheilkunde.html">
        <div class="text">Kinder</div>
        <div class="icon"><img src="images/kinderzahnheilkunde.svg" /></div>
    </a>
    <a class="service" href="kieferorthopaedie.html">
        <div class="text">Kiefer-
            <br/>orthopädie</div>
        <div class="icon"><img src="images/kieferorthopaedie.svg" /></div>
    </a>
    <a class="service" href="zahnersatz.html">
        <div class="text">Zahnersatz</div>
        <div class="icon"><img src="images/zahnersatz.svg" /></div>
    </a>
    <a class="service" href="technik.html">
        <div class="text">Technik</div>
        <div class="icon"><img src="images/technik.svg" /></div>
    </a>
</div>
