<div class="main">
    <div class="subservice">
        <div class="subservice__head">
            <div class="text">Angstpatienten</div>
        </div>
        <div class="subservice__body">
            <p>Viele Patienten leiden unter Angst- und Panikzuständen bei dem Gedanken des Zahnarztbesuchs. Wir legen bei uns in der Praxis Hülser Markt besonderen Wert auf eine möglichst schmerzfreie und angenehme Behandlung. Einer der einfachsten Schritte ihre Zahnarztangst zu nehmen ist auf Sie und ihre Ängste in Ruhe einzugehen. Damit wir Ihnen helfen können, müssen Sie uns vertrauen und den ersten Schritt machen: Rufen Sie uns an und vereinbaren Sie einen ersten Termin um uns kennenzulernen.</p>
        </div>
        <div class="service__info--close">
            <button>schließen</button>
        </div>
    </div>
</div>
