<div class="main">
    <%= partial "logo" %>
    <div class="hello">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4981.285931987437!2d6.51052!3d51.37286!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d85edde3a5ef06!2sZahn%C3%A4rzte+H%C3%BClser+Markt+Dr.+Felix+Rehberg+%26+Dr.+Charlotte+Sch%C3%BCrmann!5e0!3m2!1sen!2sde!4v1527937006837" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <hr>
    <%= partial "footer" %>
</div>
