<div class="main">
    <%= partial "logo" %>
    <div class="hello">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2490.642784933614!2d6.508325951251738!3d51.37286332825208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8a5adb369aef3%3A0x43b9d999f4beb731!2sH%C3%BClser+Markt+2%2C+47839+Krefeld!5e0!3m2!1sen!2sde!4v1509879079924" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <hr>
    <%= partial "footer" %>
</div>
