<div class="main">
    <%= partial "logo" %>
    <div class="hello">
        <p>Berufsausübungsgemeinschaft</p>
        <p>Dr. med. dent. Felix Rehberg und Dr. med. dent. Charlotte Rehberg</p>
        <p>Hülser Markt 2</p>
        <p>47839 Krefeld</p>
        <p>Telefon: 02151 730126</p>

<hr>
        <p>Gesetzliche Berufsbezeichnung:</p>
        <p>Die Berufsbezeichnung „Zahnarzt“ wurde den bei „Zahnärzte Hülse Markt“ tätigen Zahnärzten in der Bundesrepublik Deutschland verliehen.</p>
        <hr>
        <p>Zuständige Aufsichtsbehörde:</p>
        <p>Zahnärztekammer Nordrhein</p>
        <p>Emanuel-Leutze-Str. 8</p>
        <p>40547 Düsseldorf</p>
        <p><a href="http://www.zahnaerztekammernordrhein.de">www.zahnaerztekammernordrhein.de</a></p>
        <p><a href="http://www.zahnaerztekammernordrhein.de/fileadmin//user_upload/Downloads/Rechtsvorschriften/Zahnheilkundegesetz.pdf">Zahnheilkundegesetz (ZHG)</a></p>
        <p><a href="http://www.zahnaerztekammernordrhein.de/fileadmin//user_upload/Downloads/GOZ_2012/ZAEK_NR_Gebuehrenordnung_fuer_Zahnaerzte_2012.pdf">Gebührenordnung für Zahnärzte (GOZ)</a></p>
        <p><a href="http://www.zahnaerztekammernordrhein.de/fileadmin//user_upload/Downloads/Rechtsvorschriften/Heilberufsgesetz_HeilBerG.pdf">Heilberufsgesetz NRW</a></p>
        <p><a href="http://www.zahnaerztekammernordrhein.de/fileadmin//user_upload/Downloads/Rechtsvorschriften/Berufsordnung_der_ZAEK_Nordrhein.pdf">Berufsordnung der Zahnärztekammer Nordrhein</a></p>
        <hr>
        <p>Zuständige Kassenzahnärztliche Vereinigung:</p>
        <p>Kassenzahnärztliche Vereinigung Nordrhein: www.zahnaerzte-nr.de</p>
        <hr>
        <p>Inhaltlich verantwortlich:</p>
        <p>Dr. Felix Rehberg und Dr. Charlotte Rehberg </p>
        <p>Design & Programmierung: Johannes Klumpe</p>
    </div>
    <hr>
    <%= partial "footer" %>
</div>
