<div class="main">
    <%= partial "logo" %>
    <div class="hello">
        <p>Berufsausübungsgemeinschaft</p>
        <p>Dr. med. dent. Felix Rehberg und Dr. med. dent. Charlotte Schürmann</p>
        <p>Hülser Markt 2</p>
        <p>47839 Krefeld</p>
        <p>Telefon: 02151 730126</p>

<hr>
        <p>Gesetzliche Berufsbezeichnung:</p>
        <p>Die Berufsbezeichnung „Zahnarzt“ wurde den bei „Zahnärzte Hülse Markt“ tätigen Zahnärzten in der Bundesrepublik Deutschland verliehen.</p>
        <hr>
        <p>Zuständige Aufsichtsbehörde:</p>
        <p>Zahnärztekammer Nordrhein</p>
        <p>Emanuel-Leutze-Str. 8</p>
        <p>40547 Düsseldorf</p>
        <p>www.zahnaerztekammernordrhein.de</p>
        <p>Berufsordnung: <a href="http://www.zahnaerztekammernordrhein.de/fileadmin//user_upload/downloads2015/Berufsordnung_2007.pdf">Berufsordnung_2007.pdf</a></p>
        <p>Gesetzliche und berufsrechtliche Regelungen: www.bzaek.de</p>
        <p>Heilberufsgesetz NW: <a href="https://www.zahnaerztekammernordrhein.de/fileadmin//user_upload/Heilberufsgesetz_07.2016.pdf">Heilberufsgesetz_07.2016.pdf</a></p>
        <hr>
        <p>Zuständige Kassenzahnärztliche Vereinigung:</p>
        <p>Kassenzahnärztliche Vereinigung Nordrhein: www.zahnaerzte-nr.de</p>
        <hr>
        <p>Inhaltlich verantwortlich:</p>
        <p>Dr. Felix Rehberg und Dr. Charlotte Schürmann </p>
        <p>Design & Programmierung: Johannes Klumpe</p>
    </div>
    <hr>
    <%= partial "footer" %>
</div>
