<div class="main">
    <div class="logo">
        <span class="logo__claim">Zahnärzte Hülser Markt</span>
        <span class="logo__dentist">Dr. Felix Rehberg</span>
        <span class="logo__dentist">Dr. Charlotte Schürmann</span>
    </div>
    <div class="faces">
        <img src="images/faces.png" style="width: 660px; height: auto;" />
    </div>
    <div class="information">
        <div class="information__box contact">
            <h1 class="information__headline">Kontakt</h1>
            <span class="address">Hülser Markt 2</span>
            <span class="address">47839 Krefeld</span>
            <span class="address">Tel 02151 730126</span>
            <span class="address">Email </span>
        </div>
        <div class="information__box openinghrs">
            <h1 class="information__headline">Öffnungszeiten</h1>
            <span class="openinghrs__hrs"><div class="day">Mo</div> <div class="block">7.30 - 12</div> <div class="block">14 - 18</div></span>
            <span class="openinghrs__hrs"><div class="day">Di</div> <div class="block">7.30 - 12</div> <div class="block">14 - 18</div></span>
            <span class="openinghrs__hrs"><div class="day">Mi</div> <div class="block block--hidden"></div> <div class="block">14 - 20</div></span>
            <span class="openinghrs__hrs"><div class="day">Do</div> <div class="block">7.30 - 12</div> <div class="block">14 - 18</div></span>
            <span class="openinghrs__hrs"><div class="day">Fr</div> <div class="block">7.30 - 14</div></span>
        </div>
    </div>
    <div class="hello">
        <p>Herzlich Willkommen in unserer Zahnarztpraxis am Hülser Markt! Gemeinsam ist jeder stärker. Wir beide möchten Ihnen mit unserem Wissen und unserer Erfahrung zeitgemäße Zahnmedizin anbieten. Rufen Sie an, schreiben Sie uns oder kommen Sie am besten einfach vorbei. Wir sind für Sie da!</p>
    </div>
</div>
