<div class="main">
    <div class="subservice">
        <div class="subservice__head">
            <div class="text">Kieferorthopädie</div>
        </div>
        <div class="subservice__body">
            <p>Moderne Kieferorthopädie bieten wir für Kinder und Erwachsene an. Denn ein großes Thema ist neben dem gesunden, kariesfreien Gebiss auch die Stellung der Zähne und der Kiefer zueinander. Im Rahmen unserer Routineuntersuchung halten wir natürlich immer einen Blick hierauf und teilen Ihnen rechtzeitig mit, wenn hier eine Behandlung notwendig ist. Wir bieten das komplette Kieferorthopädische Spektrum vom Milchgebiss bis hin zu den permanenten Zähnen an - herausnehmbare, festsitzende Klammern und auch „unsichtbare“ Zahnspangen - sprechen Sie uns gerne an, wenn Sie mit Ihren Zähnen nicht zufrieden sind und wir beraten sie gerne über alle Möglichkeiten!</p>
        </div>
        <div class="service__info--close">
            <button>schließen</button>
        </div>
    </div>
</div>
