<div class="main">
    <div class="subservice">
        <div class="subservice__head">
            <div class="text">Kinderzahnheilkunde</div>
        </div>
        <div class="subservice__body">
            <p>Für Eltern ist die Gesundheit ihres Kindes das größte Glück. Unser Wunsch ist es, Sie und Ihre Kinder dabei zu unterstützen und zu zeigen, dass der Zahnarztbesuch von Anfang an angstfrei sein kann und sollte. Durch Freude, Engagement, liebevolle Zuwendung und natürlich durch unsere Ausbildung im Bereich der Kinder- und Jugendzahnmedizin möchten wir erreichen, dass der Zahnarztbesuch Spaß macht! Werdende Mütter beraten wir gerne bereits in der Schwangerschaft hinsichtlich Ihrer Mundgesundheit, da diese auch einen direkten Zusammenhang mit der Zahngesundheit Ihres Kindes hat. Der erste Zahnarztbesuch sollte in etwa mit 6 Monaten, also mit dem ersten Zahn sein! Besonders wichtig ist es uns, schon früh ein Vertrauensverhältnis aufzubauen. Sollte dann einmal eine Behandlung nötig sein, vielleicht sogar durch einen unangenehmen Zahnunfall, ist die wichtigste Voraussetzung für die Behandlung schon im Vorfeld geschaffen und Ihr Kind fühlt sich sicherer als bei jemand Fremdem.</p>
        </div>
        <div class="service__info--close">
            <button>schließen</button>
        </div>
    </div>
</div>
