<div class="main">
    <%= partial "logo" %>
    <div class="faces">
        <img src="images/zahnaerzte-huels.png" class="faces" alt="Zahnärzte Hülser Markt - Felix Rehberg und Charlotte Schürmann" />
    </div>

    <%= partial "profile" %>
<hr>
    <%= partial "footer" %>
</div>
