<div class="main">
    <div class="owl-carousel ">
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">Digitales Röntgen und Volumentomographie (3D)</div>
            </div>
            <div class="subservice__body">
                <p>
                    Die Vorteile dieser modernen Form des Röntgens sind einfach: schnelle und präzise Darstellung aller notwendigen Strukturen und das bei sehr geringer Strahlenbelastung. Mittels der dreidimensionalen Volumentomographie (DVT) können Strukturen dargestellt und analysiert werden, die mittels eines herkömmlichen Röntgens niemals erkennbar wären. Besonders wichtige Einsatzgebiete sind die Implantologie und Chirurgie (genaue Lagebestimmung von Nerven, Zähnen und Knochen) sowie die Endodontie (Form und Verlauf der Wurzelkanäle).</p>
            </div>
        </div>
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">Laser</div>
            </div>
            <div class="subservice__body">
                <p>
                    Unser Laser der neuesten Generation bietet vielfältige Einsatzgebiete. Er erfüllt vor allem zwei Aufgaben sehr präzise und wirkungsvoll und ist dabei zugleich schonend: Erstens die Sterilisation von infizierten Gebieten wie beispielsweise entzündete Zahnfleischtaschen und Wurzelkanäle und zweitens das Schneiden von Gewebe, wie es bei chirurgischen Maßnahmen unerlässlich ist. Wir erklären Ihnen gerne die Vorteile des Lasers in den verschiedenen Disziplinen der Zahnmedizin.</p>
            </div>
        </div>
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">CEREC</div>
            </div>
            <div class="subservice__body">
                <p>
                    Hinter diesem Markenbegriff verbirgt sich die moderne Technik für einen schnellen und zugleich sehr ästhetischen Zahnersatz aus Keramik. Eine filigrane Mundkamera ersetzt den klassischen „Abdruck“ und ermöglicht dem Arzt direkt neben dem Behandlungsstuhl ihren individuellen Zahnersatz in Form von Teilkronen, Kronen und Brücken am Computer zu erstellen. Mithilfe einer Fräsmaschine wird innerhalb kurzer Zeit der so erstellte Zahnersatz einsatzbereit hergestellt. Sie sparen sich viel Zeit auf dem Behandlungsstuhl und beim Warten auf die fertige Krone. </p>
            </div>
        </div>
    </div>
    <div class="service__info--close">
        <button>schließen</button>
    </div>
</div>
