<div class="main">
    <div class="owl-carousel">
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">Professionelle Zahnreinigung und Zahnaufhellung</div>
                <!-- <div class="icon"><img src="images/zahnerhalt.svg" class="subservice--icon" /></div> -->
            </div>
            <div class="subservice__body">
                <p>Für ein strahlendes Lachen brauchen wir gesunde Zähne und gesundes Zahnfleisch. Die Basis hierzu ist eine gute Mundhygiene. Und dabei unterstützen wir Sie. Auch die vorbildlichste Zahnpflege kann bei der Vorbeugung von Karies und Parodontitis unterstützt werden. Mit einer regelmäßigen professionellen Zahnreinigung sorgen Sie dafür, dass alle harten und weichen Beläge sowie Verfärbungen, die sich im Laufe von Monaten angesammelt haben, gründlich entfernt werden. Reicht Ihnen das Ergebnis der Politur nicht aus, bieten wir selbstverständlich auch Möglichkeiten der schonenden Zahnaufhellung an.</p>
            </div>
        </div>
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">Füllungen</div>
                <!-- <div class="icon"><img src="images/fuellungen.svg" class="subservice--icon" /></div> -->
            </div>
            <div class="subservice__body">
                <p>Ist die natürliche Zahnsubstanz teilweise zerstört, durch Karies, nach Unfällen oder Wurzelkanalbehandlungen, so muss der Zahn in seiner alten Form wiederhergestellt werden. Grundsätzlich bestehen zwei Möglichkeiten: Eine Füllung aus plastischem Material, zum Beispiel Kunststoff. Diese kann jedoch nur bei kleineren Substanzdefekten für ausreichende Stabilität sorgen. Bei größeren Substanzdefekten empfiehlt sich für eine nachhaltige Lösung eine passgenaue keramische Versorgung in Form eines Inlays oder einer Teilkrone. Hierbei besteht die Möglichkeit, mithilfe der CEREC Technik, in ein- und derselben Sitzung den Defekt mithilfe einer individuell gefrästen Keramik zu versorgen.</p>
            </div>
        </div>
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">Parodontologie</div>
                <!-- <div class="icon"><img src="images/parodontologie.svg" class="subservice--icon" /></div> -->
            </div>
            <div class="subservice__body">
                <p>Die Entzündung des Zahnhalteapparats ist eine weit verbreitete und meist chronische Erkrankung. Im Rahmen der Routineuntersuchung kontrollieren wir unsere Patienten nicht nur auf Schäden an den Zähnen und dem Kausystem, sondern auch auf Erkrankungen des Zahnhalteapparats. Hierzu gehört das Zahnfleisch sowie der Knochen, an dem die Zahnwurzel über seine Fasern befestigt ist. Es gibt verschiedene Ursachen für eine Parodontitis. Oftmals ist eine ausgiebige Reinigung der entzündeten Zahnfleischtaschen und verschmutzten Zahnwurzeloberflächen eine hilfreiche Therapie. Insbesondere der Laser kann eine wesentliche Ergänzung sein, um die Entzündung erfolgreich zu behandeln. Nach erfolgter Therapie ist eine engmaschige Nachbetreuung und professionelle Zahnreinigungen für einen nachhaltigen Erfolg wichtig.</p>
            </div>
        </div>
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">Endodontie</div>
                <!-- <div class="icon"><img src="images/endodontie.svg" class="subservice--icon" /></div> -->
            </div>
            <div class="subservice__body">
                <p>Eine Wurzelkanalbehandlung wird immer dann notwendig, wenn sich das Innere des Zahns, wo sich die Nerven und Blutgefäße befinden, entzündet hat oder bereits abgestorben ist. Mithilfe moderner Technik werden die einzelnen Wurzelkanäle gereinigt, erweitert und abgefüllt. Eine gute Wurzelkanalbehandlung kann die Lebensdauer Ihres eigenen Zahns erheblich verlängern. Auch hier bieten wir Ihnen moderne Therapien wie die maschinelle Aufbereitung der Wurzeln und die Sterilisation mittels Laser an. Wir sind der Überzeugung, dass Ihre eigenen Zähne immer besser sind, als der beste Zahnersatz.</p>
            </div>
        </div>
    </div>
    <div class="service__info--close">
        <button>schließen</button>
    </div>
</div>
