<div class="main">
    <div class="owl-carousel ">
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">Zahnersatz</div>
                <!-- <div class="icon"><img src="images/zahnersatz.svg" class="subservice--icon" /></div> -->
            </div>
            <div class="subservice__body">
                <p>Wenn Zähne stark zerstört sind, verloren gehen oder erst gar nicht angelegt sind, besteht die Möglichkeit zum Ersatz. In aller Regel haben wir zwei Möglichkeiten: Festsitzender Ersatz in Form einer Krone oder einer Brücke auf den eigenen Zähnen oder auf Implantaten befestigt. Alternativ herausnehmbarer Ersatz in Form einer Prothese, die natürlicherweise auf dem Zahnfleisch gelagert wird aber auch an vorhandenen Zähnen oder Implantaten zusätzlich befestigt wird. Hierbei bestehen natürlich viele Möglichkeiten der Umsetzung. Wir verfügen unter anderem über die CEREC Technik, die es uns ermöglicht, in ein- und derselben Sitzung Ihnen ästhetische, rein keramische Teilkronen, Kronen oder Brücken einzusetzen. Hierzu beraten wir Sie in aller Ruhe im persönlichen Gespräch.</p>
            </div>
        </div>
        <div class="subservice item">
            <div class="subservice__head">
                <div class="text">Implantate</div>
                <!-- <div class="icon"><img src="images/implantate.svg" class="subservice--icon" /></div> -->
            </div>
            <div class="subservice__body">
                <p>
                    Wenn eigene Zähne verloren gegangen sind und Sie keinen herausnehmbaren Zahnersatz wünschen, oder wenn benachbarte Zähne nicht unnötigerweise beschliffen werden sollen, dann besteht oftmals die Alternative, dass künstliche, feste Zahnwurzeln in Form von Implantaten einen festen Zahnersatz ermöglichen. Hierzu bedarf es einer genauen Planung der Knochenstruktur und der Weichgewebe. Unser dreidimensionales Röntgengerät (DVT) bietet uns die Möglichkeit für präzises Arbeiten. In unserem Verfahren greifen wir auf die Erfahrung aus der Arbeit in der Oralchirurgischen Abteilung der Uniklinik Köln zurück. </p>
            </div>
        </div>
    </div>
    <div class="service__info--close">
        <button>schließen</button>
    </div>
</div>
